.button {
  font-family: var(--font-ui);
  font-size: var(--font-size-md);
  text-align: center;
  padding: 8px 16px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-text);
  border-radius: 2px;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}

.primary {
  background: var(--color-text);
  color: var(--color-background);
}

.secondary {
  background: var(--color-background);
  color: var(--color-text);
}
