@font-face {
  font-family: "Reckless Neue";
  font-weight: bold;
  src: url("/fonts/RecklessNeue-Bold.woff2");
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-Regular.woff2");
}

body {
  margin: 0;
}
