@font-face {
  font-family: "Reckless Neue";
  font-weight: bold;
  src: url("/fonts/RecklessNeue-Bold.woff2");
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-Regular.woff2");
}

:root {
  --color-background: #ffffff;
  --color-text: #26273a;
  --color-accent: #6056eb;
  --font-display: "Reckless Neue";
  --font-ui: "Roobert";
  --font-size-xl: 1.25rem;
  --font-size-3xl: 1.875rem;
  --font-size-6xl: 3.75rem;
}

body.dark {
  --color-background: #26273a;
  --color-text: #ffffff;
  --color-accent: #6dc4e2;
}

body {
  margin: 0;
}
