:root {
  --color-background: #ffffff;
  --color-text: #26273a;
  --color-accent: #6056eb;
  --font-display: "Reckless Neue";
  --font-ui: "Roobert";
  --font-size-md: 1.25rem;
  --font-size-lg: 1.875rem;
  --font-size-xl: 3.75rem;
}

body.dark {
  --color-background: #26273a;
  --color-text: #ffffff;
  --color-accent: #6dc4e2;
}
